<li id="<%= movie.id %>">
  <center><h4><b><span class="glyphicon glyphicon-play">
  <%= link_to movie.name,  movie, style: 'color:#2E9AFE;' %>
  </span></h4></b>
  <% if movie.gender.present? %><br>
    <span class="gender"><b>Género: </b><%= movie.gender %></span>
  <% end %>
  <% if movie.description.present? %><br>
    <span class="description"><b>Descripción: </b><%= movie.description %></span>
  <% end %>
  <span class="timestamp"><br>
    Posted <%= time_ago_in_words(movie.created_at) %> ago.
    <% if current_user.present? && (current_user.id == movie.user_id || current_user.admin?)%>
      <%= link_to "delete", admin_destroy_movie_path(movie),
       method: :delete, data: { confirm: "Estás seguro que quieres eliminar la serie #{movie.name} de #{movie.user.name}?" } %>
    <% end %>
  </span></center>
</li><br>
