<li id="<%= movie.id %>">
  <span class="name"><%= link_to movie.name, movie, style: 'color:#2E9AFE;' %></span>
  <% if movie.gender.present? %>
  <span class="gender">, Género: <%= movie.gender %></span>
  <% end %>
  <% if movie.description.present? %>
  <span class="description">, Descripción: <%= movie.description %></span>
  <% end %>

  <span class="timestamp">
    Posted <%= time_ago_in_words(movie.created_at) %> ago.
    <% if current_user?(movie.user) %>
     <%= link_to "delete", movie, method: :delete,
                                  data: { confirm: "Estás seguro?" } %>
   <% end %>
  </span>
</li>
