<li id="<%= serie.id %>">
  <%= link_to gravatar_for(serie.user, size: 50), serie.user %>
  <span class="user"><%= link_to serie.user.name, serie.user %></span>
  <span class="nombre"><%= serie.nombre %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(serie.created_at) %> ago.
    <% if current_user?(serie.user) %>
     <%= link_to "delete", serie, method: :delete,
                                  data: { confirm: "Estás seguro?" } %>
   <% end %>
  </span>
</li>
