<head>
<title>Home | TVSeries4u</title>
</head>
<body>
	<% if logged_in? %>
	<h1>Lista de series</h1>
	<div class="jumbotron">
	  <div class="row">
	    <aside class="col-md-4">

	    <!--  <section class="movie_form">
	        <%= render 'shared/movie_form' %>
	      </section> -->
	    </aside>
        <div class="col-md-15">
      		<%= render 'shared/feed' %>
					<center><%= link_to "Añadir nueva serie", new_movie_path, class: "btn btn-lg btn-info",
					style: 'color:#FFFFFF;' %></center>
    	</div>
	  </div>
	</div>


	<% else %>
	<div class="center jumbotron">
	<h1 style="font-family: courier">Bienvenido a TVSeries4u</h1>
	<%= link_to "Ingresar", login_path, class: "btn btn-lg btn-info", style: 'color:#FFFFFF;'%><br><br>
	Nuevo en TVSeries4u? <%= link_to "regístrate ahora!", signup_path, style: 'color:#2E9AFE;' %></li>
	<!--<%= link_to "Regístrate ahora!", signup_path, class: "btn btn-lg btn-info" %> -->
	</div>
	<% end %>
</body>
