<% provide(:title, @user.name) %>
<div class="jumbotron">
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h4><font color="black">
        <%= gravatar_for @user %><br>
        <%= @user.name %><br><br><br><br><br>
        <%= link_to 'Administrar géneros de series', {:controller => :genders, :action => :index} , style: 'color:#2E9AFE;' %>
        <br><br><%= link_to 'Administrar cuentas niño',boy_accounts_path %>
      </font></h4>
    </section>
  </aside>
  <div class="col-md-8">
     <% if @user.movies.any? %>
      <h3>Series (<%= @user.movies.count %>)</h3>
      <ol class="movies">
        <%= render @movies %>
      </ol>
    <% end %>
  </div>
  </div>
</div>
