<li id="<%= movie.id %>">
  <%= link_to gravatar_for(movie.user, size: 50), movie.user %>
  <span class="user"><%= link_to movie.user.name, movie.user %></span>
  <span class="name">Nombre: <%= movie.name %></span><br>
  <span class="gender">Género: <%= movie.gender %></span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(movie.created_at) %> ago.
    <% if current_user?(movie.user) %>
     <%= link_to "delete", movie, method: :delete,
                                  data: { confirm: "Estás seguro?" } %>
   <% end %>
  </span>
</li>
