
<% provide(:title, "Ingresar") %>
<h1>Ingresar</h1>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :mail %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :contraseña %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.submit "Ingresar", class: "btn btn-primary" %>
        <% end %>
        <br><center>
        ¿Usuario nuevo? <%= link_to "¡Regístrate ahora!", signup_path,  style: 'color:#2E9AFE;' %>
        <span class="glyphicon glyphicon-hand-left"></span></center>

      </div>
    </div>
  </div>
</div>
