
<% provide(:title, "Ingresar") %>
<h1>Ingresar</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :mail %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :contraseña %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Ingresar", class: "btn btn-primary" %>
    <% end %>

    <p>¿Usuario nuevo? <%= link_to "¡Regístrate ahora!", signup_path %></p>
  </div>
</div>
